# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.hcl

# Local environment files
.env
.env.local

# Compiled files
*.exe
*.out
*.o

# Logs
*.log

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db